.error {
    color: red;
}
.wrapper {
    background: #f4f6f9;
}
.content-wrapper {
    display: block;
    width: 78%;
    margin-left: auto !important;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .content-wrapper {
        width: 100%;
    }
    .card-body {
        position: relative;
        overflow-x: scroll;
    }
}